<div class="center jumbotron">
  <h1>Welcome to the FunQuiz</h1>


 <%= link_to "Sign up now!", signup_path ,class: "btn btn-lg btn-primary" %>
 <style>
body {
	background-color:#444444;
   background-image: url('/assets/shiny-quiz-button.jpg');
   background-repeat:no-repeat;
   background-position:top;

}
</style>
</div>